/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Open Sans', sans-serif; }

header, nav, main, footer { max-width: 71.25rem; margin-left: auto; margin-right: auto; }

header { display: grid; grid-template-columns: 92px auto; }

#headerdiv { margin-left: 2%; }

header img { height: 100px; }

header h1 { font-size: 1.8rem; margin-top: 2.5rem; color: #333; font-family: 'Unica One', cursive; }

header h2 { color: #333; font-size: 1rem; letter-spacing: .11rem; }

ul.menu { display: flex; background-color: #95BD45; }

nav ul li:first-child a { border-left: none; }

nav ul li a { border-left: 1px solid #888; display: block; background-color: #aaca6b; color: #222; text-decoration: none; padding: .8rem .5rem; }

.active a { background-color: #5a7329; color: #eee; }

nav ul li a:hover { background-color: #d5e5b6; color: #000; }

ul.menu li { width: 25%; text-align: center; }

main { padding-bottom: 2%; }

main div.fruitimg { display: flex; flex-wrap: wrap; margin: 0 2%; justify-content: space-between; }

figure { flex-basis: 49%; margin-bottom: 3%; }

figcaption { text-align: center; font-size: .9rem; }

main img { width: 100%; }

main h1 { padding: 1.5rem 0 .2rem 2%; font-size: 1.5rem; }

footer { text-align: center; background-color: #ccc; color: #222; padding: 1rem 0; font-size: .9rem; }

@media only screen and (min-width: 560px) { figure { flex-basis: 32%; margin-bottom: 2%; }
  #last { margin-right: auto; margin-left: 2%; }
  ul.menu li { width: auto; text-align: center; } }
@media only screen and (min-width: 1028px) { figure { flex-basis: 23.5%; margin-bottom: 2%; }
  main div.fruitimg { margin: 0; }
  #last { margin-right: 0; margin-left: 0; }
  main h1 { padding-left: 0; }
  header h1 { font-size: 2rem; }
  header h2 { letter-spacing: .18rem; } }
