figure {
    flex-basis: 23.5%;
    margin-bottom: 2%; 
}

main div.fruitimg {
    margin: 0;
}

#last {
    margin-right: 0;
    margin-left: 0;
}

main h1 {
    padding-left: 0;
}

header h1 {
    font-size: 2rem;
}

header h2 {
    letter-spacing: .18rem;
}

