/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  /*  apply a natural box layout model to all elements  */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


body {
    font-family: 'Open Sans', sans-serif;
  }

  header, nav, main, footer {
    max-width: 71.25rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: grid;
    grid-template-columns: 92px auto;
}

#headerdiv {
    margin-left: 2%;
}

header img {
    height: 100px;
}
  
header h1 {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    color: $headerFont;
    font-family: 'Unica One', cursive;
  }


  header h2 {
    color: $headerFont;
    font-size: 1rem;
    letter-spacing: .11rem;
  }

  ul.menu {
    display: flex;
    background-color: $menuColor;
}
nav ul li:first-child a {border-left:none;}

 nav ul li a {
    border-left: 1px solid #888;
    display: block;
    background-color: lighten($menuColor, 10%);
    color: #222;
    text-decoration: none;
    padding: .8rem .05rem;
}

.active a {
      background-color: darken($menuColor, 20%);
      color: #eee;
}
nav ul li a:hover {
    background-color: lighten($menuColor, 30%);
    color: #000;
}

ul.menu li {
    width: 25%;
    text-align: center;
  }

main {
    padding-bottom: 2%;
}

main div.fruitimg {
    display:flex;
    flex-wrap: wrap;
    margin: 0 2%;
    // margin: 0 2%;
    justify-content: space-between
}

figure {
    flex-basis: 49%;
    margin-bottom: 3%;
}

figcaption{
    text-align: center;
    font-size: .9rem;
}

main img {
    width: 100%;
}

main h1 {
    padding: 1.5rem 0 .2rem 2%;
    font-size: 1.5rem;
}


footer {
    text-align: center;
    background-color: #ccc;
    color: #222;
    padding: 1rem 0;
   font-size: .9rem;

  }

  
 